.input {
  max-width: 200px;
  width: 100%;
  padding: 12px 20px;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 0 auto 10px;
  display: block;
}

.button {
  display: block;
  max-width: 200px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
}

.qrCode {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  max-width: 128px;
  min-height: 140px;
  background-color: #fff;
}